/* Custom styles for PlaygroundCard */

.playgroundCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid var(--ifm-color-emphasis-200);
  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  transition: background-color 0.3s ease;
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;
}

.playgroundCard:hover {
  transform: translateY(-5px); /* Slight lift effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow on hover */
  background-color: rgba(0, 0, 0, 0.1); /* Dim the background slightly */
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.image {
  overflow: hidden;
  border-radius: var(--ifm-card-border-radius);
}

/* Dim the background of the card body on hover */
.playgroundCard .playgroundCardBody {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  padding: var(--ifm-card-vertical-spacing) var(--ifm-card-horizontal-spacing);
  background-color: transparent;
}

