{% if section.value.kind == "example" %}
**Example:**

```python
{{ section.value.contents | strip_doctest }}
```
{% else %}
<details class="{{ section.value.kind }}" open>
<summary>{{ section.title }}</summary>
{{ section.value.contents }}
</details>
{% endif %}
