/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"],
[data-theme="dark"] {
  --ifm-color-primary: #d1e550;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;

  --ifm-background-color: #141414;
  --ifm-background-surface-color: #141414;
  --ifm-toc-border-color: grey;
  --ifm-toc-border: 1px solid grey;

  /* --ifm-alert-border-color: #d1e550; */
  /* --ifm-color-info-dark: var(--ifm-color-primary); */

  --docusaurus-highlighted-code-line-bg: rgba(46, 34, 34, 0.3);
}

[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );

  --docsearch-highlight-color: var(--ifm-color-primary);
  --docsearch-hit-active-color: #000;
}

body {
  position: relative;
}

.logo-docs {
  color: #71d094;
  background-color: #dbf3cd33;
  font-size: medium;
  border-radius: 4px;
  margin-left: 0;
  box-shadow: none;
  border: none;
  padding: 2px 6px 2px 6px;
}

.DocCardList--no-description .card h2 {
  margin-bottom: 0;
}

.DocCardList--no-description .card p {
  display: none;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 67.5%; /* Aspect ratio: 540/800 = 67.5% */
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.main-wrapper {
  border: 1px solid grey; /* Navbar border */
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap");

/*
.menu__link {
  position: relative;
  padding-left: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.menu__link.menu__link--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--ifm-color-primary);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

*/

/* .main-wrapper aside nav.menu>ul>li>.menu__list-item-collapsible>.menu__link {
  font-family: IBM Plex Mono;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 18px;
  min-height: 30px;
} */

.video__wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Video aspect ratio: 100 / (16 / 9) */
}

.video__player {
  /* position: absolute;
  top: 0;
  left: 0; */
}

html.plugin-blog h2,
html.plugin-blog.blog-post-page h1 {
  font-size: 2rem;
}

.details_node_modules-\@docusaurus-theme-classic-lib-theme-Details-styles-module {
  background-color: var(--ifm-background-color);
}
