absl-py==2.1.0
access==1.1.9
addict==2.4.0
adlfs==2024.7.0
aenum==3.1.15
affine==2.4.0
aioboto3==13.2.0
aiobotocore==2.15.2
aiocache==0.12.3
aiodns==3.2.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiohttp-client-cache==0.11.1
aioitertools==0.11.0
aiopmtiles @ https://fused-asset.s3.us-west-2.amazonaws.com/wheel/aiopmtiles-0.1.0-py3-none-any.whl
aiosignal==1.3.1
aiosqlite==0.20.0
altair==5.4.1
aniso8601==9.0.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
anywidget==0.9.13
appdirs==1.4.4
arcgis==2.4.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arm_pyart==1.19.1
arraylake==0.24.1
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==2.4.1
async-retriever==0.15.2
atpublic==5.0
attrs==24.2.0
azure-core==1.30.2
azure-datalake-store==0.0.53
azure-identity==1.17.1
azure-storage-blob==12.22.0
babel==2.16.0
backcall==0.2.0
backoff==2.2.1
backports.tarfile==1.2.0
bcrypt==4.2.1
beautifulsoup4==4.12.3
black==23.12.1
bleach==6.1.0
blinker==1.8.2
blosc2==2.7.1
bokeh==3.5.2
boto3==1.35.36
boto3-stubs==1.38.36
botocore==1.35.36
botocore-stubs==1.38.30
Bottleneck==1.4.0
bqplot==0.12.43
branca==0.7.2
Brotli==1.1.0
cachelib==0.9.0
cachetools==5.5.0
cads-api-client==1.3.2
Cartopy==0.22.0
cattrs==24.1.1
cdsapi==0.7.3
cecil==0.0.22
certifi==2024.8.30
cffi==1.17.1
cfgrib==0.9.14.1
cftime==1.6.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
cmweather==0.3.2
color-operations==0.1.5
colorcet==3.1.0
coloredlogs==15.0.1
colour==0.1.5
comm==0.2.2
contextily==1.6.2
contourpy==1.3.0
crc32c==2.7.1
cryptography==43.0.1
cssselect2==0.7.0
cycler==0.12.1
Cython==3.0.11
cytoolz==0.12.3
dask==2024.12.1
dask-expr==1.1.21
databricks-sdk==0.40.0
dataclasses-json==0.6.7
datasets==3.1.0
datashader==0.16.3
dateparser==1.2.0
daymetpy==1.0.0
db-dtypes==1.3.0
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.15
deprecation==2.1.0
dill==0.3.8
distributed==2024.12.1
distro==1.9.0
dnspython==2.6.1
docker==7.1.0
docopt==0.6.2
donfig==0.8.1.post1
duckdb==1.4.2
e2cnn==0.2.3
earthengine-api==1.4.0
eccodes==2.37.0
eerepr==0.0.4
email_validator==2.2.0
esda==2.6.0
et-xmlfile==1.1.0
evaluate==0.4.3
exactextract==0.2.2
executing==2.1.0
fabric==3.2.2
fastapi==0.110.3
fastjsonschema==2.20.0
ffmpy==0.4.0
filelock==3.16.0
findlibs==0.0.5
fiona==1.10.1
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Cors==5.0.0
flask-restx==1.3.0
flatbuffers==24.3.25
flexcache==0.3
flexparser==0.3.1
folium==0.17.0
fonttools==4.53.1
fpdf2==2.8.1
frozenlist==1.4.1
fsspec==2024.9.0
ftfy==6.2.3
future==1.0.0
gcloud==0.18.3
gcsfs==2024.9.0.post1
GDAL @ https://fused-asset.s3.us-west-2.amazonaws.com/wheel/GDAL-3.9.3-cp311-cp311-linux_x86_64.whl
gdown==5.2.0
geemap==0.35.1
geoarrow-c==0.3.0
geoarrow-pyarrow==0.2.0
geoarrow-types==0.3.0
geocoder==1.38.1
geographiclib==2.0
geojson==3.1.0
geojson2vt==1.0.1
geomet==1.1.0
geopandas==1.0.1
geopy==2.4.1
giddy==2.3.5
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.2
google-api-python-client==2.145.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-bigquery==3.25.0
google-cloud-bigquery-storage==2.26.0
google-cloud-compute==1.23.0
google-cloud-core==2.4.1
google-cloud-secret-manager==2.24.0
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gradio==3.35.2
gradio_client==0.15.1
greenlet==3.1.0
groundingdino-py==0.4.0
grpc-google-iam-v1==0.14.2
grpcio==1.66.1
grpcio-status==1.66.1
gssapi==1.8.3
gtfs-realtime-bindings==1.0.0
gunicorn==20.1.0
h11==0.14.0
h3==4.3.0
h5netcdf==1.3.0
h5py==3.11.0
herbie-data==2024.8.0
highspy==1.7.1.dev1
html5lib==1.1
htmltools==0.6.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.25.2
huggingface-hub==0.24.6
humanfriendly==10.0
humanize==4.9.0
hydra-core==1.3.2
hydrosignatures==0.15.2
ibis-framework==10.1.0
icechunk==1.1.6
idna==3.8
imageio==2.35.1
imageio-ffmpeg==0.4.9
immutabledict==4.2.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
inequality==1.0.1
iniconfig==2.1.0
invoke==2.2.0
iopath==0.1.10
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipykernel==6.29.5
ipyleaflet==0.19.2
ipython==8.12.0
ipython-genutils==0.2.0
ipytree==0.2.2
ipyvue==1.11.1
ipyvuetify==1.10.0
ipywidgets==7.8.4
isodate==0.6.1
itsdangerous==2.2.0
jakteristics==0.6.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
jaxa-earth @ https://data.earth.jaxa.jp/api/python/v0.1.3/en/_downloads/5c4ffbb11cde280d906707699d6219d0/jaxa-earth-0.1.3.zip
jedi==0.19.1
jeepney==0.8.0
jellyfish==1.1.2
Jinja2==3.1.4
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
jplephem==2.22
JPype1==1.5.0
json5==0.9.25
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-client==6.1.12
jupyter-leaflet==0.19.2
jupyter-server==1.16.0
jupyter_core==5.7.2
jupyterlab==3.5.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.16.3
jupyterlab_widgets==1.1.10
keplergl==0.3.2
keyring==25.3.0
kiwisolver==1.4.7
krb5==0.6.0
lancedb==0.24.1
lark==0.12.0
laspy==2.5.4
lat-lon-parser==1.3.0
lazy_loader==0.4
leafmap==0.35.11
libpysal==4.12.1
line_profiler==4.2.0
linkify-it-py==2.0.3
linopy==0.3.14
llvmlite==0.41.1
localtileserver==0.10.3
locket==1.0.0
loguru==0.7.3
lxml==5.3.0
lz4==4.3.3
mahotas @ git+https://github.com/jasonzutty/mahotas@6aa4be01807f9eac476636ac86bf79a09da426b5
mangum==0.17.0
mapbox-vector-tile==2.1.0
mapclassify==2.8.0
maplibre==0.2.7
markdown-it-py==2.2.0
markdown2==2.5.1
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.9.2
matplotlib-inline==0.1.7
maxar-platform==1.0.6
mda-xdrlib==0.2.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
mercantile==1.2.1
mgwr==2.2.1
mistune==3.0.2
mlflow-skinny==2.19.0
mmcv==2.2.0
mmdet==3.3.0
mmengine==0.10.4
mmrotate==1.0.0rc1
momepy==0.8.0
more-itertools==10.5.0
morecantile==5.4.2
movingpandas==0.20.0
mpire==2.10.2
mpmath==1.3.0
msal==1.31.0
msal-extensions==1.2.0
msgpack==1.1.0
multidict==6.1.0
multipledispatch==1.0.0
multiprocess==0.70.16
multiurl==0.3.1
mypy-boto3-ec2==1.38.33
mypy-boto3-logs==1.38.16
mypy-boto3-s3==1.38.26
mypy-extensions==1.0.0
narwhals==1.7.0
nbclassic==1.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
ndindex==1.8
nest-asyncio==1.6.0
netCDF4==1.7.1.post2
networkx==3.3
nltk==3.9.1
notebook==6.5.7
notebook_shim==0.2.4
numba==0.58.1
numcodecs==0.16.1
numexpr==2.10.1
numpy==1.26.4
nvidia-nccl-cu12==2.22.3
oauth2client==4.1.3
oauthlib==3.2.2
odc-geo==0.4.8
odc-stac==0.3.10
omegaconf==2.3.0
onnx==1.16.2
onnxruntime==1.19.2
open-radar-data==0.3.1
openai==1.44.1
openai-clip==1.0.1
opencv-python==4.10.0.84
opencv-python-headless==4.8.1.78
openpyxl==3.1.5
opentelemetry-api==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
orjson==3.10.7
ortools==9.10.4067
osm2geojson==0.2.5
osmnet==0.1.7
osmnx==1.9.3
OSMPythonTools==0.3.5
oso-cloud==1.5.1
overpass==0.7.2
overrides==7.7.0
OWSLib==0.29.3
packaging==24.1
palettable==3.3.3
pandana==0.7
pandas==2.2.3
pandocfilters==1.5.1
param==2.1.1
paramiko==3.5.0
parso==0.8.4
parsy==2.1
partd==1.4.2
pathspec==0.12.1
patool==2.4.0
patsy==0.5.6
pendulum==3.0.0
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
Pint==0.24.3
placekey==0.0.33
planet==2.10.0
planetary-computer==1.0.0
platformdirs==4.3.2
plotly==5.24.0
pluggy==1.6.0
ply==3.8
pmtiles==3.4.1
pointpats==2.5.0
polars==1.31.0
pooch==1.8.2
portalocker==2.10.1
prometheus-fastapi-instrumentator==6.1.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==5.28.0
psutil==6.0.0
psycopg2-binary==2.9.10
psygnal==0.11.1
ptyprocess==0.7.0
PuLP==2.9.0
pure_eval==0.2.3
puremagic==1.27
py-cpuinfo==9.0.0
py3dep==0.15.2
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybdshadow==0.3.5
pycares==4.4.0
pyclipper==1.3.0.post5
pycocotools==2.0.8
pycparser==2.22
pyct==0.5.0
pydantic==2.9.1
pydantic-settings==2.5.2
pydantic_core==2.23.3
pydata-google-auth==1.8.2
pydaymet==0.15.2
pydeck==0.9.1
pydub==0.25.1
pydyf==0.11.0
PyExifTool==0.5.6
pygeofilter==0.2.4
pygeohydro==0.15.2
pygeoif==1.5.0
pygeoogc==0.15.2
pygeoutils==0.15.2
Pygments==2.18.0
pygrib==2.1.6
pygtfs==0.1.9
PyJWT==2.9.0
pykalman==0.9.7
pylerc==4.0
PyNaCl==1.5.0
pynhd==0.15.2
pynldas2==0.15.2
pyogrio==0.11.1
Pyomo==6.6.1
pyOpenSSL==24.2.1
pyparsing==3.1.4
pyperclip==1.9.0
pyphen==0.15.0
pyproj==3.6.1
pypsa==0.28.0
pysal==24.7
pyshp==2.3.1
PySocks==1.7.1
pyspnego==0.11.1
pystac==1.10.1
pystac-client==0.7.7
pytest==7.4.4
python-box==7.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.2
pywbt==0.2.4
PyYAML==6.0.2
pyzmq==26.2.0
quantecon==0.7.2
questionary==2.1.0
radops==0.12.0
rasterio==1.3.10
rasterstats==0.19.0
ratelim==0.1.6
ratelimit==2.2.1
referencing==0.35.1
regex==2024.7.24
reportlab==4.2.5
requests==2.32.3
requests-cache==1.2.1
requests-file==2.1.0
requests-gssapi==1.3.0
requests-kerberos==0.15.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.3.4
rich==13.8.1
rio-cogeo==5.3.4
rio-mbtiles @ https://fused-asset.s3.us-west-2.amazonaws.com/wheel/rio_mbtiles-1.6.0-py3-none-any.whl
rio-stac==0.8.1
rio-tiler==6.7.0
rioxarray==0.15.7
rouge_score==0.1.2
rpds-py==0.20.0
rpy2==3.5.16
rsa==4.9
rtoml==0.9.0
Rtree==1.3.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s2geometry @ https://fused-asset.s3.us-west-2.amazonaws.com/wheel/s2geometry-0.9.0-cp311-cp311-linux_x86_64.whl
s3fs==2024.9.0
s3transfer==0.10.4
safetensors==0.4.5
sam2==0.4.1
scikit-image==0.22.0
scikit-learn==1.5.2
scipy==1.14.1
scooby==0.10.0
seaborn==0.13.2
SecretStorage==3.3.3
segment-anything-fast==0.1.2
segment-anything-hq==0.3
segment-anything-py==1.0.1
segment-geospatial==0.10.8
segregation==2.5
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==5.0.0
sentinelhub==3.10.3
server-thread==0.2.0
sgp4==2.23
shap==0.45.1
shapely==2.0.6
shellingham==1.5.4
shiny==1.1.0
simple-salesforce==1.12.6
simplejson==3.19.3
six==1.16.0
skyfield==1.49
slicer==0.0.8
smmap==5.0.1
sniffio==1.3.1
snowflake-connector-python==3.12.1
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.6
spaghetti==1.7.6
spglm==1.1.0
spherely==0.1.0
spint==1.0.7
splot==1.1.7
spopt==0.6.1
spreg==1.6.1
spvcm==0.3.0
SQLAlchemy==2.0.34
sqlglot==25.18.0
sqlitedict==2.1.0
sqlparse==0.5.3
stac_geoparquet==0.3.2
stack-data==0.6.3
stackstac==0.5.1
stacrs @ https://fused-asset.s3.us-west-2.amazonaws.com/wheel/stacrs-0.2.0-cp311-cp311-manylinux_2_31_x86_64.whl
starlette==0.37.2
statsmodels==0.14.2
structlog==24.4.0
suncalc==0.1.3
supermercado==0.2.0
supervision==0.6.0
sympy==1.13.2
tables==3.10.1
tabula-py==2.9.3
tblib==3.0.0
tenacity==8.5.0
termcolor==2.4.0
terminado==0.18.1
terminaltables==3.1.10
threadpoolctl==3.5.0
thriftpy2==0.5.3
tifffile==2024.8.30
tiledb==0.27.1
time-machine==2.16.0
timm==1.0.9
tinycss2==1.4.0
tinyhtml5==2.0.0
tobler==0.11.3
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.13.2
toolz==0.12.1
topojson==1.9
torch @ https://download.pytorch.org/whl/cpu/torch-2.4.0%2Bcpu-cp311-cp311-linux_x86_64.whl
torchsr==1.0.4
torchvision @ https://download.pytorch.org/whl/cpu/torchvision-0.19.0%2Bcpu-cp311-cp311-linux_x86_64.whl
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
transbigdata==0.5.3
transformers==4.44.2
truststore==0.10.4
typer==0.12.5
types-awscrt==0.27.2
types-s3transfer==0.13.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uc-micro-py==1.0.3
ujson==5.10.0
ultralytics==8.0.122
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==2.4.0
urlpath==1.2.0
us==3.2.0
utm==0.7.0
uvicorn==0.18.3
validators==0.34.0
valor-lite==0.34.0
vega-datasets==0.9.0
vt2geojson==0.2.1
watchfiles==1.0.3
wcwidth==0.2.13
weasyprint==63.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.4
whitebox==2.3.5
whitebox_workflows==1.3.5
whiteboxgui==2.3.0
widgetsnbextension==3.6.9
wrapt==1.16.0
xarray==2025.10.1
xarray-datatree==0.0.14
xarray-spatial==0.3.5
xee==0.0.4
xgboost==2.1.1
xmltodict==0.13.0
xradar==0.6.5
xxhash==3.5.0
xyzservices==2024.9.0
yapf==0.40.2
yarl==1.11.1
zarr==3.1.3
zeep==4.2.1
zict==3.0.0
zipp==3.20.1
zopfli==0.2.3.post1
